@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding: 0px;
}

.box{
	width:250px;

	/* box-shadow: 2px 2px 30px rgba(0,0,0,0.2); */
	/* border-radius: 10px; */
	overflow: hidden;
    margin: 5px;
    /* background-color: rgba(255, 216, 169, 0.5); */
}
.slide-img{
	height: 300px;
	position:relative;
}


.slide-img img{
	width:100%;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
}
.detail-box{
	width: 100%;
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	box-sizing: border-box;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.type{
	display: flex;
	flex-direction: column;
	text-align: center;
	color: white;
	margin: 0 0 25px 25px;
	
    
}

/* .type span{
    color:rgba(26,26,26,0.5);
} */


.overlay{
	position: absolute;
	left: 50%;
	top: 51.6%;
	transform: translate(-50%,-50%);
	width:100%;
	height: 291px;
	background-color: rgba(138,81,63,0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

.txt {
    text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 25px;
	word-break: keep-all;
	font-weight: 550;
	font-size: 80%;
    letter-spacing: 1px;
}


.overlay{
	visibility: hidden;
}
.slide-img:hover .overlay{
	visibility: visible;
	animation:fade 0.5s;
}



.integrantes{
	margin-top: 30px;
	margin-bottom: 80px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	background-color:#7c564c;
}

.int, .int2{
    color: white;
    position: relative;
	bottom: 0px;
	text-decoration: none;
	/* margin-bottom: 100px; */
	font-weight: 600;
	letter-spacing: 1px;
}

.int{
	bottom: 10px;
}


.int2 {
	font-weight: 70;
	bottom: 23px;
	top: 20px;
	
}

.lineA {
	margin-top: 9px;
    width: 100px;
    position: relative;
    height: 5px;
    background-color: white;
    border: none;
	
}
 
@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.slider{
	width:100%;
	height: 65vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
}