.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: right;
    padding-bottom: 10px;
    border-bottom: 3px solid;
}
body{
    
    margin: 0;
    padding: 0;
}

nav div {
    
    padding-left: 0;
    width: fit-content;
}

/* div{
    /* border: red solid 1px; 
    
} */

#links{
    width: 50%;
}


nav ul {
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    list-style: none;
    display: flex;
}



a {
    text-decoration: none;
    color: #647168;
} 

li{
    
    align-items: center;
    margin: 0;
    font-size: 22px;
    padding: 5px;
       
}



li a:hover {
    border-bottom: 2.5px solid #8a513f;
}

li a:hover {
    border-bottom: 2.5px solid #8a513f;
}

img{
    padding-top: 10px;
}