

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

footer {
    border-top: 2px solid rgb(220, 126, 106);
}



h3{
    padding: 20px;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    background-color: #dc7e6a;
    font-family:Arial;
    color:#47322d; 
}

.icons img{
    padding: 5px;
    align-items: flex-end;
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
    display: inline;
    justify-content: space-around;
}

.site_map{
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
    background-color: #e0ccc5;
    color: #47322d;
}

.site_map dt{
    font-weight: 1000;
}

a{
    color: inherit;
    text-decoration: none;
}

.copiright{
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 85%;
    text-align: center;
    background-color: #8a513f;
    color: #47322d;
}

nav{
    height: 100px;
    display: flex;
    align-items: center;
    justify-items: center;

    display: flex;
    color: #dc7e6a;
    justify-content: center;
    font-weight: 500;
    padding: 7px;
}

.end{
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.igm{
    padding: 5px;
    align-items: flex-end;
    max-width:45px;
    max-height:45px;
    width: auto;
    height: auto;
    justify-content: right;
}

.logo{
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    background-color: #e0ccc5;
}

.logo img{

    max-width:100px;
    max-height:200px;
    padding: 5px;
    width: auto;
    height: auto;
    justify-content: center;
    border-left: 1px solid #000;
}

.textobacktotop{
    display: flex;
    color: #47322d;
    justify-content: center;
    font-weight: 500;
    padding: 7px;
    background-color: #e0ccc5;
}

.conec{
    padding-right: 10px;
    color: #47322d;
}


