.carousel {
  position: relative;
  height: 600px;
  width: 80%;
  margin: 0 auto;
}

.carousel__images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

.carousel__button--left{
  left: -45px;
}

.carousel__button--right {
  right: -45px; 
}

.carousel__button img{
  width: 35px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(220, 126, 106, .4);
  margin: 0 12px;
  cursor: pointer;
  outline: none;
}

.carousel__indicator.current-slide {
  background: rgba(220,126,106,.85);
}

.is-hidden {
  display: none;
}