* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 4px;

}

.slides {
    position: absolute;
    width: 300%;
    height: 80%;
    top: 0;
    left: 0;
    transition: 2s ease;
}

.slide {
    width: 33.33%;
    height: 100%;
    position: relative;
    float: left;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.slide::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.090);
}

.slide:nth-child(1) {
    background-image: url(../assets/assets_carrosel/argila.jpg);
}

.slide:nth-child(2) {
    background-image: url(../assets/assets_carrosel/tintas.jpg);
}

.slide:nth-child(3) {
    background-image: url(../assets/assets_carrosel/tintas.jpg);
}

.slide-data {
    position: absolute;
    top: 40%;
    right: 150px;
    transform: translateY(-50%);
    width: 100%;
    text-align: left;
    color: white;
    padding: 0 20%;
}

.slide-data h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 50px;
    margin-right: 200px;
}

.slide-data p {
    font-family: 'Raleway', sans-serif;
    font-weight: bold 600;
    margin-bottom: 10px;
    margin-right: 300px;
    font-size:20px ;
}

.slide-data button {
    font-family: 'Raleway', sans-serif;
    background: none;
    outline: none;
    border: 1px solid #DC7E6A;
    color: #DC7E6A;
    background-color: rgba(71, 50, 45, 0.5);
    font-weight: bold;
    padding: 10px 25px;
    font-size: 20px;
    transition: 0.4s linear;
    cursor: pointer;
}

.slide-data button:hover {
    background-color: #47322D;
    color: #DC7E6A;
}

.slider .arrows {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background: none;
    outline: none;
    border: none;
    font-size: 60px;
    color: #DC7E6A;    
    cursor: pointer;
}

.slider .arrows:hover {
    text-shadow: 0px 0px 10px #47322D, 0px 0px 10px #47322D;
}

.slider .prev {
    left: 3%;
}

.slider .next {
    right: 3%;
}

.dots {
    position: absolute;
    bottom: 25%;
    width: 100%;
    text-align: center;
}

.dots span {
    width: 15px;
    height: 15px;
    border-radius: 100px;
    margin: 0 8px;
    background-color: #DC7E6A;
    display: inline-block;
    cursor: pointer;
    transition: 0.4s linear;

}

.dots span:hover {
    background-color: #47322D !important;
    border: 1px solid #DC7E6A;
}

.dot-active {
    background-color: #47322D!important;
    border: 1px solid #DC7E6A;

}
.bt {
    padding-top: 10px;
}