.quem-somos-home {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.img-home {
    height: 50%;
    width: 50%;
    
}

.p-home {
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 100px;
    padding-left: 10px;

}

.bt-home {
    align-self: flex-end;
    width: 70%;
    height: 30px;
    margin-bottom: 40px;
    margin-right: 30px;
    color: #DC7E6A;
    text-decoration: underline;

}