.quem-somos-home {
    display: flex;
    width: 500px;
    height: 400px;
    align-items: center;
    display: flex;
    justify-self: flex-end;
    margin-bottom: 80px;
}

#quem_somos_conteiner{
    display: flex;
    height: 400px;
    justify-content: center;
    display: flex;
    align-self: center;
    justify-content: flex-end;
}

#quem_somos_text{ 
    display: flex;
    align-items: center;
}

.img-home {
    height: auto;
    width: 100%;
    
}

.p-home {
    text-align: justify;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 10px;
    height: 150px;
    width: 600px;
}

.bt-home {
    height: 30px;
    margin-bottom: 40px;
    margin-right: 30px;
    color: #DC7E6A;
    text-decoration: underline;
    display: flex;
    text-align: justify;

}

@media screen and (max-width: 550px){
    .p-home {
        height: 100%;
        width: 100%;
    }
}