* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.section-contact {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
} 

/* .section-contact .imgbox:before{
    position: absolute;
    content:'';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #e91e63,#03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
} */


.section-contact .imgbox {
    position: relative;
    width: 50%;
    height: 100%;

}

.section-contact .imgbox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.section-contact .contentbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}


.section-contact .contentbox .formbox {
    width: 80%;


}

.section-contact .contentbox .formbox h2 {
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #8a513f;
    display: inline-block;
    letter-spacing: 1px;
}

.section-contact .contentbox .formbox .inputbox {
    margin-bottom: 20px;
}

.section-contact .contentbox .formbox .inputbox span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;

}

.section-contact .contentbox .formbox .inputbox input {
    width: 100%;
    padding: 5px 10px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 3px;
}
.textarea {
    width: 100%;
    height: 150px;
    outline: none;
    border: 1px solid;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    

}

.inputbox p {
    padding-bottom: 10px;
    font-family: Montserrat;
}

.section-contact .contentbox .formbox .inputbox input[type="submit"] {
    background: #8a513f;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.section-contact .contentbox .formbox .inputbox input[type="submit"]:hover {
    background: #a5614c;
}


.section-contact .contentbox .formbox .inputbox p {
    color: #607d8b;

}







@media (max-width: 768px)
{
    .section-contact .imgbox{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }
    .section-contact .contentbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .section-contact .contentbox .formbox {
        width: 100%;
        padding: 40px;
        background: #fff;
        margin: 50px;
    }
    

}