
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1{
    display: flex;
    color: #dc7e6a;
    justify-content: center;
    font-weight: 500;
    padding: 7px;
}

main{
    display: flex;
    flex-direction: column;
    height: 600px;
    background-color: #f7efec;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}

.title{
    background-image: url("../assets/papel de parede.jpg");
    width:100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

    background-attachment: fixed;
    background-size: cover;
}

.botao{
    display: flex;
    justify-content: start;
    align-items: center;
    color: #8a513f;
    
}

.botao p{
    padding-right: 10px;
}

.mensagem{
    padding-bottom: 80px;
    padding-top: 15px;
}

button{
    width:80px;
    height: 25px;
    background-color: #e0ccc5;
    border-radius: 5px;
}

button:hover{
    background-color: #dc7e6a;
    cursor: pointer;
}

.textboxers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7efec;
    width:550px;
    height: 280px;
}

textarea:focus, input:focus, select:focus, button:focus{
    outline: 0;
}

input{
    padding: 8px;
    width:500px;
    height: 30px;
    border-radius: 5px; 
    margin: 0px 0px 8px 0px;
}