
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
div{
    border: 1px solid red;
}

h1{
    display: flex;
    color: #fff;
    justify-content: center;
    font-weight: 500;
    padding: 7px;

}

.form{
    font-size: 16px;
    background: #fff;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

form:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

input, textarea{
    width: 470px;
    padding: 10px;
    background-color: #e0ccc570;
    color: #47322d;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.enviar input{
    height: 40px;
    width: 150px;
    border: 1px solid;
    cursor: pointer;
    background: #dc7e6a;
}
.enviar input:hover{
    color: #47322d;
    background: #dc7e6a;
}

textarea{
    width: 470;
    height: 120px;

}

main{
    display: flex;
    height: 600px;
    background-color: #fff;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.title{
    background-image: url("../assets/papel de parede.jpg");
    width:50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-size: cover;
}
.description{
    padding: 10px 75px;
    text-align: justify;
    font-size: large;
    background-color: rgba(255, 255, 255, 0.5);
}


input{
    padding: 8px;

    height: 30px;
    margin: 0px 0px 8px 0px;
}

.button_and_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding-left: 20px;
    color: #dc7e6a;
}

