*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

div{
    /* border:red solid 1px; */
}

main{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-self: center;
    /* background-color: #f7efec; */
}

.sobre_nos {
    display: flex;
    align-items: center;
    align-content: center;
    width: 75%;
    align-self: center;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 200px;
    
}

.textos {
    width:80%;
    border-radius: 5px;
    background-color: #dc7f6ab2;
    padding: 10px;
}

/* .nos{
    color: #47322d;
    text-align: justify;
    
} */

h1{
    color: white;
    text-decoration: underline;
    font-size: 30px;
    font-style: normal;
    text-align: center;
}
h2{
    color: white;
    font-size: 20px;
    font-style: normal;
}

.imagens {
    padding-right: 50px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    width: 45%;
}

.imagens img {
    width: 190px;
    height: 150px;
}

.img1, .img3 {
    align-self: flex-end;
}

#objetivos_ONU{
    height: 620px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 50px 0px 50px 0px;
}

.com_numero{
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 150px;
    width: 620px;
    position: relative;
    left: 120px;
    color: white;
}

.num{
    font-size: 50px;
}

#objetivos_ONU img{
    height: 180px;
    width: 180;
    position: relative;
    bottom: 5px;
    right: 120px;
}

.objt{
    height: 200px;
    font-size: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titulo{
    display: flex;
    width: 500px;
    height: 90px;
    justify-items: center;
}

.subtitulo{
    display: flex;
    width: 500px;
    justify-items: center;  
    font-size: 18px;
    height: 50px;
}

#ONU8{
    background-color: #8f1838;
}
#ONU10{
    background-color: #dd1367;
}
#ONU12{
    background-color: #c9992d;
}



.mis-vis-val {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1000px;
    line-height: 218%;
    background-color: #FFD8A9;
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    align-self: center;
    background-image: url("../assets/papel\ de\ parede.jpg");
    opacity: 0.6;
    background-attachment: fixed;
    border-radius: 10px;
}

.preceitos{
    width: 80%;
    height: 1000px;
}

.formatacao_com_imagem{
   display: flex;
    height: 33.3%; 
   width: 100%;
   text-align: justify;
   background: white;
}

.formatacao_com_imagem img{
    height: 100%;
    width: 50%;
    padding: 0px;

}


#visao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50%;
    padding: 30px 30px;
    background-color: rgba(138,81,63,0.9);
    height: 100%;  
    align-content: center;
    text-align: center;
}


#valores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50%;
    padding: 30px 30px;
    background-color: rgba(138,81,63,0.9);
    height: 100%;  
    align-content: center;
    text-align: center;
}

#missao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50%;
    padding: 50px 50px;
    background-color: rgba(138,81,63,0.9);
    height: 100%;  
    align-content: center;
    text-align: center;
}

.quem-somos {
    text-align: center;
    align-items: center;
}

.bolinhas {
    display: flex;
    align-items: center;
    margin-left:180px;
    margin-top: 20px;
    margin-bottom:20px;
    height: 250px;
    width:80%;
}

.bolinhas img {
    position: relative;
    margin: 0px;
    height: 180px;
    width: 180px;
    border-radius: 1000000px;
}

.bolinhas div {
    position: absolute;
    margin-left: 230px;
    align-self: flex-end;
    height: 250px;
    width: 650px;
    background-color: rgba(138,81,63,0.850) ;
}

#bol1 {
    margin: 30px;
}

#bol3 {
    padding-left:0px
}

.bolinhas h1 {
    color: black;
    font-size: 20px;
    text-align: justify;
    margin: 30px;
    width: 300px;
    font-style: normal;
}

.botao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}

.bt {
    align-self: center;
}

.btxt {
    display: flex;
    flex-direction: column;
    background-color: #DC7E6A;
    height: 70px;
    width: 240px;
    font-size: 21px;
    text-align: center;
    justify-content: center;
    color: #47322d;
        
}

.head {
    margin-top: 5px;
    }


.btn {
    height: 70px;
    font-size: 18px;
    align-content: center;
    width: 100px;
    background-color: #8A513F;
    color: #47322d;
    outline: none;
    border: 1px solid #8A513F;
    font-weight: bold;
    cursor: pointer;   
}

.int{
    color: #47322d;
    position: relative;
    top: 30px;

}

.integrantes{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

