*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}



main{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-self: center;
    /* background-color: #f7efec; */
}

.sobre_nos {
    display: flex;
    align-items: center;
    align-content: center;
    width: 75%;
    align-self: center;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 200px;
    
}

.textos {
    width:80%;
    border-radius: 5px;
    background-color: #dc7f6ab2;
    padding: 10px;
}

/* .nos{
    color: #47322d;
    text-align: justify;
    
} */

h1{
    color: white;
    text-decoration: underline;
    font-size: 30px;
    font-style: normal;
    text-align: center;
}
h2{
    color: white;
    font-size: 20px;
    font-style: normal;
    text-align: center;
}

.imagens {
    padding-right: 50px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    width: 45%;
}

.imagens img {
    width: 190px;
    height: 150px;
}

.img1, .img3 {
    align-self: flex-end;
}

.mis-vis-val {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
    line-height: 218%;
    background-color: #FFD8A9;
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    align-self: center;
    background-image: url("../assets/papel\ de\ parede.jpg");
    opacity: 0.6;
    background-attachment: fixed;
    border-radius: 10px;
}


#visao {
    margin: 10px;
    margin-left: 150px;
    width:50%;
    padding: 30px 30px;
    align-self: flex-start;
    background-color: rgba(138,81,63,0.9);
    box-shadow: 2px 2px 30px rgba(0,0,0,0.8);
    border-radius: 15px;
    
}


#valores {
    margin: 10px;
    margin-left: 150px;
    width: 50%;
    padding: 30px 30px;
    align-self: flex-start;
    background-color: rgba(138,81,63,0.9);
    box-shadow: 2px 2px 30px rgba(0,0,0,0.8);
    border-radius: 15px;
    
    
}

#missao {
    /* margin-left: 100px; */
    width:50%;
    align-self: flex-end;
    /* height: %; */
    padding: 30px 30px;
    margin: 10px;
    background-color: rgba(138,81,63,0.9);
    box-shadow: 2px 2px 30px rgba(0,0,0,0.8);
    border-radius: 15px;
    margin-right: 150px;
}

.quem-somos {
    text-align: center;
    align-items: center;
}

.bolinhas {
    display: flex;
    align-items: center;
    margin-left:180px;
    margin-top: 20px;
    margin-bottom:20px;
    height: 250px;
    width:80%;
    /* border: 1px solid red; */
}

.bolinhas img {
    position: relative;
    margin: 0px;
    height: 180px;
    width: 180px;
    border-radius: 1000000px;
}

.bolinhas div {
    position: absolute;
    margin-left: 230px;
    align-self: flex-end;
    height: 250px;
    width: 650px;
    background-color: rgba(138,81,63,0.850) ;
}

#bol1 {
    margin: 30px;
}

#bol3 {
    padding-left:0px
}

.bolinhas h1 {
    color: black;
    font-size: 20px;
    text-align: justify;
    margin: 30px;
    width: 300px;
    font-style: normal;
}

/* .txt, .bt, .botao {
    border: 1px solid red;
} */

.botao {
    display: flex;
    flex-direction: row;
    /* height: 100px; */
    justify-content: center;
    padding: 30px;
}

.bt {
    align-self: center;
}

.btxt {
    display: flex;
    flex-direction: column;
    background-color: #DC7E6A;
    height: 70px;
    width: 240px;
    font-size: 21px;
    text-align: center;
    justify-content: center;
    color: #47322d;
        
}

.head {
    margin-top: 5px;
    }


.btn {
    height: 70px;
    font-size: 18px;
    align-content: center;
    width: 100px;
    background-color: #8A513F;
    color: #47322d;
    outline: none;
    border: 1px solid #8A513F;
    font-weight: bold;
    /* padding: 10px 25px; */
    cursor: pointer;   
}

.int{
    color: #47322d;
    position: relative;
    top: 30px;

}

.integrantes{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}